.menu {
  background-image: url("HeaderBackground.svg");
  background-size: cover;
  line-height: 64px;
  text-align: center;
}

.menu-item-intro {
  float: left;
  margin-left: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 54ch;
}

.menu-item-logout {
  float: right;
  margin-right: 5%;
}

/* .menuItemTitle {
  font-size: 14pt;
  font-weight: 500;
  color: rgb(127, 85, 59);
} */

.sub-menu-title {
  font-size: 11pt;
  font-weight: 450;
  color: rgb(127, 85, 59);
}
