.profile {
  padding-top: 2%;
  margin-left: 17%;
  margin-right: 17%;
}

.content {
  height: 200px;
}

hr {
  border: 1pt solid rgb(234, 234, 234);
}

.column1 {
  list-style-type: none;
  padding-left: 1%;
  width: 46%;
  margin-bottom: 0%;
  float: left;
}

.column2 {
  list-style-type: none;
  margin-left: 1%;
  width: 53%;
  float: right;
}

.column1 li {
  font-size: large;
  font-weight: bold;
}

.column2 li {
  font-size: large;
  font-weight: bold;
}

.column1 li span {
  font-weight: normal;
  overflow: auto;
  width: 100%;
  display: inline-block;
}

.column2 li span {
  font-weight: normal;
  overflow: auto;
  width: 96%;
  display: inline-block;
}
.buttonWrapper {
  margin-bottom: 3em;
}
