.menu {
    background-image: url("HeaderBackground.svg");
    background-size: cover;
    line-height: 64px;
}

.menu-item-intro {
    padding-left: 6%;
    padding-right: 6%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 54ch;
}

.menu-item-intro span {
    font-size: 14pt;
    font-weight: 500;
    color: rgb(127, 85, 59);
}

.menu-item span {
    font-size: 14pt;
    font-weight: 500;
    color: rgb(127, 85, 59);
}

.menu-icon {
    color: rgb(127, 85, 59);
}

.sub-menu span {
    color: rgb(127, 85, 59);
    font-weight: 450;
    font-size: 11pt;
}