.mainpage{
    margin:0% 0% 0% 0%;
    width: 100%;
    height: 100%;
    position: absolute; 
    background-color:#83CEF2;
    background-size: cover;
}
h1{
    margin-left: 1%;
    margin-top:1%;
    color: #FFFFF7;
    font-size: xx-large;
}

h3{
    margin-left: 3%;
    color: #FFFFF7;
}

.login-card {
    width: 350px;
    position: fixed;
    left: 45%;
    top : 25%;
    border-radius: 5%;
    background-color: #FFFFF7;
    z-index : 1;
}

.login-to-register{
    float: right;
}

.spongebob{
    z-index: 1;
    left: 25%;
    top: 50%;
    position: fixed;
    width: 280px;
    height: 280px;
}

.seaweed1{
    z-index: 1;
    left: 80%;
    top: 60%;
    position: fixed;
    width: 100px;
    height: 100px;
}

.searocklogin{
    position: fixed;
    z-index: 1;
    left: 70%;
    top: 65%;
    width: 110px;
    height: 60px;
}

.speech{
    position: fixed;
    z-index: 0;
    left: 20%;
    top: 20%;
    width: 400px;
    height: 300px;
}