/* reference: https://kicksdigitalmarketing.com/2019/09/10/how-do-i-fix-a-404-error/ */

.background{  
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    position: absolute; 
    background-size: cover;
    background-color: #83CEF2;
}

.homeButton{
    background-color: #F7F7E3;
    font-size: larger;
}

.errorImage{
    margin-left: 495px;
    margin-top: 100px;
}

.row{
    margin-left: 800px;
    margin-top: 0px;
}

